<h1>質問3</h1>
<p>古い端末または中古可の方に質問の内容です。
中古端末の購入について当てはまる内容を選択してください</p>

<%= link_to '実機確認と専門家のアドバイスを重視', question6_buy_diagnoses_path , class:"btn btn-primary"%>
<%= link_to '自宅での比較検討と多様な選択肢を重視', question4_buy_diagnoses_path , class:"btn btn-primary" %>
<%= link_to '最安値と直接交渉を重視', question4_buy_diagnoses_path , class:"btn btn-primary" %>
<%= link_to '古い機種でも新品にこだわる ', question4_buy_diagnoses_path , class:"btn btn-primary" %>
<div class="text-center">
  <%= link_to '前のページに戻る', :back %>
</div>