<h1>通知一覧</h1>

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div>通知</div>
    <div>
      <%= form_with model: current_user, url: notifications_path, method: :patch, local: true, data: { turbo: false } do |f| %>
        <div>
          <%= f.hidden_field :line_notification_enabled, value: !current_user.line_notification_enabled %>
          <% if current_user.line_notification_enabled %>
            <%= f.submit "LINE通知をOFFにする", class: "btn btn-danger" %>
          <% else %>
            <%= f.submit "LINE通知をONにする", class: "btn btn-success" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <!-- 通知一覧 -->
    <ul class="list-group list-group-flush">
      <% @notifications.each do |notification| %>
        <li class="list-group-item">
          <% if notification.notifiable_type == 'Favorite' %>
            <%= render partial: 'favorite_notification', locals: { notification: notification } %>
          <% elsif notification.notifiable_type == 'Comment' %>
            <%= render partial: 'comment_notification', locals: { notification: notification } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= paginate @notifications %>