<div class="container">
  <div class="text-center">
    <h1>診断内容</h1>
  </div>
  <!-- 診断内容 -->
  <%= form_with model: @plan_diagnosis, url: plan_diagnoses_path, method: :post do |f| %>
    <div class="form-group">
      <label>① あなたに当てはまるものはどれですか？（一つ回答してください）</label><br>
      <%= f.radio_button :question1, 1, checked: true %>
      <%= f.label :question1, '一緒にまとめている家族もいるし、ネットワークの契約もある' %><br>
      <%= f.radio_button :question1, 2 %>
      <%= f.label :question1, '一緒にまとめている家族がいる（または引き続きまとめたいかどうか）' %><br>
      <%= f.radio_button :question1, 3 %>
      <%= f.label :question1, 'ネットワークの契約がある（または引き続きまとめたいかどうか）' %><br>
      <%= f.radio_button :question1, 4 %>
      <%= f.label :question1, '特に考慮する点なし' %><br>
    </div>

    <div class="form-group">
      <label>② 携帯電話の料金に関することで重視したいことはどれですか？（一つ回答してください）</label><br>
      <%= f.radio_button :question2, 1, checked: true %>
      <%= f.label :question2, '質重視（とにかくストレスなく使いたい）' %><br>
      <%= f.radio_button :question2, 2 %>
      <%= f.label :question2, 'バランス重視（価格と質のバランスを取りたい）' %><br>
      <%= f.radio_button :question2, 3 %>
      <%= f.label :question2, '価格重視（とにかく安くしたい）' %><br>
    </div>

    <div class="form-group">
      <label>③ ネットの利用量についてあなたの該当するものを教えて（一つ回答してください）</label><br>
      <%= f.radio_button :question3, 1, checked: true %>
      <%= f.label :question3, 'よく使う' %><br>
      <%= f.radio_button :question3, 2 %>
      <%= f.label :question3, 'けっこう使う' %><br>
      <%= f.radio_button :question3, 3 %>
      <%= f.label :question3, 'そこそこ使う' %><br>
      <%= f.radio_button :question3, 4 %>
      <%= f.label :question3, 'そんなに使わない' %><br>
      <%= f.radio_button :question3, 5 %>
      <%= f.label :question3, 'あまり使わない' %><br>
    </div>
    <%= f.submit '診断する', class: 'btn btn-primary' %>
  <% end %>
</div>