<div class="container">
  <div class="text-center">
    <h1>診断結果</h1>

    <div class="result-box"> 
      <h3 class="result-text"> 
        <%= @diagnosis_result %>
      </h3> 
    </div>

    <div class="action-button mb-3">
      <%= link_to "大手キャリアメインプラン（docomo,au,softbank）について詳しく見る", major_carrier_path, class: "btn btn-primary" %>
    </div>
    <div class="action-button mb-3">
      <%= link_to "大手キャリアオンラインプラン（ahamo,povo,linmo）について詳しく見る", online_plan_path, class: "btn btn-primary" %>
    </div>
    <div class="action-button mb-3">
      <%= link_to "大手キャリアサブブランド（irumo,UQﾓﾊﾞｲﾙ,Yﾓﾊﾞｲﾙ）について詳しく見る", sub_brand_path, class: "btn btn-primary" %>
    </div>
    <div class="action-button mb-3">
      <%= link_to "格安SIMについて詳しく見る", mvno_path, class: "btn btn-primary" %>
    </div>
    <div class="action-button mb-3">
      <%= link_to "楽天モバイルについて詳しく見る", rakuten_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>