<h1>楽天市場の商品一覧</h1>
<!-- 検索エンジン -->
<%= form_with url: items_search_path, method: :get, local: true, data: { turbo: false } do |f| %>
  <!-- 検索欄 -->
  <div>
    <%= f.radio_button :manufacturer, 'スマホ', checked: true %>
    <%= f.label :manufacturer, "スマホ" %>
    <%= f.radio_button :manufacturer, 'iPhone' %>
    <%= f.label :manufacturer, "iPhone" %>
  </div>

  <div>
    <%= f.label :condition_new, "新品" %>
    <%= f.radio_button :condition, '新品' %>

    <%= f.label :condition_used, "中古" %>
    <%= f.radio_button :condition, '中古' %>
  </div>

  <div>
    <%= f.label :carrier, "楽天モバイルの購入" %>
    <%= f.radio_button :carrier, '楽天モバイル' %>

    <%= f.label :carrier, "SIMフリー" %>
    <%= f.radio_button :carrier, 'SIMフリー' %>
  </div>

  <div>
    <%= f.label :keyword, "商品名" %>
    <%= f.text_field :keyword %>
  </div>

  <%= f.submit "検索" %>
<% end %>

<!-- 全体のインデックス -->
<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item['itemName'], item['itemUrl'] %>
      <br>
      <%= image_tag item['mediumImageUrls'][0] %>
      <br>
      <%= item['itemPrice'] %>円
    </li>
  <% end %>
</ul>
