<% @q = Post.ransack(params[:q]) %>
<%= search_form_for @q, url: search_posts_path, html: { class: "search-form", data: { turbo: false } } do |f| %>
  <div class="search-form-container">
    <div class="search-item">
      <%= f.label :title_eq, "タイトル", class: "form-label" %>
      <%= f.select :title_eq, Post.titles.keys.map { |k| [Post.titles_i18n[k], k] }, { include_blank: '選択してください' }, { class: 'form-select' } %>
    </div>

    <div class="mb-3" data-controller="search"> <%# search_controller.js をこの div に接続 %>
      <%= f.label :body_cont, "フリーワード検索", class: "form-label" %>
      <%= f.search_field :body_cont, class: 'form-control', placeholder: '検索ワード',
        data: "action: input->search#search focus->search#focus blur->search#blur search-target: bodyCont" %> 

      <div id="search-results" data-search-target="results"></div> <%# 検索結果を表示する要素 %>
    </div>

    <div class="search-item">
      <%= f.submit '検索', class: 'btn btn-primary search-button' %>
    </div>
  </div>
<% end %>