<% @q = Post.ransack(params[:q]) %>
<%= search_form_for @q, url: search_posts_path, html: { class: "search-form", data: { turbo_stream: true } } do |f| %>
  <div class="search-form-container">

    <%# メッセージ表示エリアを追加 %>
    <div id="search-message" class="mt-3"></div>

    <div class="search-item">
      <%= f.label :title_eq, "タイトル", class: "form-label" %>
      <%= f.select :title_eq, Post.titles.keys.map { |k| [Post.titles_i18n[k], k] }, { include_blank: '選択してください' }, { class: 'form-select' } %>
    </div>

    <div class="mb-3 position-relative">
      <%= f.label :body_cont, "フリーワード検索", class: "form-label" %>
      <%= f.search_field :body_cont, 
          class: 'form-control', 
          placeholder: '検索ワード', 
          data: { 
            controller: "search", 
            action: "input->search#suggest",
            search_target: "input"
          }
      %>
      <%# 検索候補表示エリア %>
      <div id="search-candidates" class="search-candidates"></div>
    </div>

    <div class="search-item">
      <%= f.submit '検索', class: 'btn btn-primary search-button' %>
    </div>
  </div>
<% end %>