<% content_for(:title, @post.title) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>

      <div id="post-id-<%= @post.id %>">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <h3 style="display: inline;"><%= @post.title %></h3>

              <% if current_user.own?(@post) %>
                <div class='ms-auto d-flex justify-content-end'>
                  <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}" do %>
                    <i class="bi bi-pencil-fill"></i>
                  <% end %>
                  <%= button_to post_path(@post), method: :delete, id: "button-delete-#{@post.id}", data: { turbo_confirm: t('defaults.delete_confirm') } do %>
                    <i class="bi bi-trash-fill"></i>
                  <% end %>
                </div>
              <% end %>
            </div>

            <ul class="list-inline">
              <li class="list-inline-item"><%= "by #{@post.user.name}" %></li>
              <li class="list-inline-item"><%= l @post.created_at, format: :short %></li>
            </ul>

            <%# 選択式の回答の表示 %>
            <p class="card-text"><%= Post.human_attribute_name(:previous_carrier) %>: <%= @post.previous_carrier_i18n %></p> 
            <p class="card-text"><%= Post.human_attribute_name(:new_carrier) %>: <%= @post.new_carrier_i18n %></p> 
            <p class="card-text"><%= Post.human_attribute_name(:price_difference) %>: <%= @post.price_difference_i18n %></p> 
            <p class="card-text"><%= Post.human_attribute_name(:device_payment) %>: <%= @post.device_payment_i18n %></p> 
            <p class="card-text"><%= Post.human_attribute_name(:purchase_method) %>: <%= @post.purchase_method_i18n %></p>

            <%# 本文の表示 %>
            <p><%= simple_format(@post.body) %></p> 

          </div>
        </div>
      </div> 
    </div>
  </div>
</div>