<% content_for(:title, @post.title) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
	            <!-- 画像投稿に関する部分を削除 -->
              <!-- 投稿に関するタイトル、作成者、投稿時間 -->
              <h3 style="display: inline;"><%= @post.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item"><%= "by #{@post}" %></li>
                <li class="list-inline-item"><%= l @post.created_at, format: :long %></li>
              </ul>
              <!-- 現在のユーザーが投稿の作成者の場合編集と削除のリンク-->
              <% if current_user.own?(@post) %>
                <div class='d-flex justify-content-end'>
                  <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}" do %>
                    <i class="bi bi-pencil-fill"></i>
                  <% end %>
                  <%= button_to post_path(@post), method: :delete, id: "button-delete-#{@post.id}", data: { turbo_confirm: t('defaults.delete_confirm') } do %>
                    <i class="bi bi-trash-fill"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- 投稿の本文 -->
        <p><%= simple_format(@post.body) %></p>
      </article>
    </div>
  </div>

  <!-- コメント機能に関する部分を削除 -->
</div>